spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=foco_db;encrypt=true;trustServerCertificate=true
    username: sa
    password: QuocTris1204
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
cloudflare:
  r2:
    endpoint:  https://e9606a532b027b96abd51e54ca5f0018.r2.cloudflarestorage.com
    accessKey: 1a7b9b9211336bbcb616e0c881887bb6
    secretKey: 00337a81615cb2831292bf2a395d7510149e20a2538d01df917aa27b6d6cda86
    bucket:    focoproject

  